@import "../../bower_components/normalize.css/normalize.css";
@import "../../bower_components/fullpage.js/jquery.fullPage.scss";
@import "lib/base";
html {
	text-size-adjust: 100%;
	height: 100%;
	font-size: 16px;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
	height: 100%;
	background-color: $white;
	min-width: 320px;
}
* {
	margin: 0;
	outline: none;
}
*, *::after, *::before {
	box-sizing: border-box;
}
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
input {
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	outline: none;
}
button {
	border: none;
	outline: none;
	background: transparent;
	padding: 0;
}
a {
	text-decoration: none;
}
.menu {
	position: fixed;
	@include x-rem(right, 75px);
	@include x-rem(top, 86px);
	cursor: pointer;
	z-index: 6;
	.menu-left {
		font-family: $Book;
		color: $grey;
		opacity: 0.5;
		@include x-rem(font-size, 19px);
		@include x-rem(margin, -3px 0 0);
		@include x-rem(padding, 0 10px 0 0);
		display: inline-block;
		vertical-align: middle;
		transition: color 0.2s ease;
	}
	.menu-btn {
		width: 37px;
		height: 20px;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		cursor: pointer;
		span {
			width: 100%;
			@include x-rem(height, 5px);
			display: inline-block;
			cursor: pointer;
			&::before {
				content: '';
				width: 100%;
				@include x-rem(height, 5px);
				position: absolute;
				bottom: 0;
				left: 0;
				background-color: $grey;
				transition: background 0.2s ease, bottom 0.2s ease;
			}
			&::after {
				content: '';
				width: 100%;
				@include x-rem(height, 5px);
				position: absolute;
				top: 0;
				left: 0;
				background-color: $grey;
				transition: background 0.2s ease, top 0.2s ease;
			}
		}
	}
	&:hover {
		.menu-left {
			color: $hover;
		}
		.menu-btn {
			span {
				&:before {
					@include x-rem(bottom, -5px);
					background-color: $hover;
				}
				&:after {
					@include x-rem(top, -5px);
					background-color: $hover;
				}
			}
		}
	}
}
.header {
	@include x-rem(padding-top, 72px);
	padding-left: 9.375%; // 150px / 1600
	padding-right: 9.375%; // 150px / 1600
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
}
.language {
	margin-left: 20%;
	display: inline-block;
	vertical-align: middle;
	.language-item {
		font-family: $CondMedium;
		@include x-rem(font-size, 19.75px);
		color: $grey;
		text-transform: uppercase;
		transition: color 0.3s ease;
		&:not(:first-child) {
			@include x-rem(margin, 0 0 0 20px);
		}
		&.active {
			color: $lgrey;
		}
		&:hover {
			color: $hover;
		}
	}
}
.nav {
	display: inline-block;
	vertical-align: middle;
	margin-left: 11.5%;
	.nav-item {
		font-family: $CondMedium;
		@include x-rem(font-size, 19.75px);
		color: $grey;
		text-transform: uppercase;
		transition: color 0.3s ease;
		&:not(:first-child) {
			@include x-rem(margin, 0 0 0 30px);
		}
		&:hover {
			color: $hover;
		}
	}
}
.logo {
	@include x-rem(width, 179px);
	@include x-rem(height, 47px);
	background-image: url(../img/icons/logo.png);
	background-size: cover;
	display: inline-block;
	vertical-align: middle;
}

.index {
	.out {
		width: 100%;
		height: 100vh;
		overflow: hidden;
		position: relative;
		z-index: 2;
	}
}
.canvas__area {
	width: 100%; // 745 / 1600
	float: left;
	height: 100%;
	background-color: $leftBar;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	&::after {
		content: '';
		width: 53.4375%; // 1600 / 855
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: $white;
	}
}
.scroll {
	position: fixed;
	left: 50%;
	@include x-rem(bottom, 63px);
	transform: translate(-50%);
	@include x-rem(width, 73px);
	@include x-rem(height, 73px);
	@include x-rem(line-height, 73px);
	background-color: $scroll;
	border-radius: 100%;
	cursor: pointer;
	text-align: center;
	.icon {
		@include x-rem(width, 14px);
		@include x-rem(height, 40px);
		display: inline-block;
		vertical-align: middle;
		div {
			width: 100%;
			height: 100%;
			background-image: url(../img/icons/scroll.png);
			background-size: cover;
		}
	}
}
#fp-nav.left {
	left: 40.15%;
	top: auto;
	@include x-rem(bottom, 60px);
}
#fp-nav ul li {
	@include x-rem(width, 30px);
	@include x-rem(height, 30px);
	margin: 0;
	&:not(:last-child) {
		@include x-rem(margin, 0 0 30px 0);
	}
	&:hover {
		a {
			span {
				@include x-rem(width, 6px);
				@include x-rem(height, 6px);
				@include x-rem(margin, -3px 0 0 -3px);
			}
		}
	}
	a {
		@include x-rem(width, 30px);
		@include x-rem(height, 30px);
		border-radius: 100%;
		transition: background-color 0.5s ease;
		span {
			background-color: $grey;
			transition: background-color 0.5s ease;
			@include x-rem(width, 6px);
			@include x-rem(height, 6px);
			@include x-rem(margin, -3px 0 0 -3px);
		}
		&.active {
			background-color: $white;
		}
		&:hover, &.active {
			span {
				@include x-rem(width, 6px);
				@include x-rem(height, 6px);
				@include x-rem(margin, -3px 0 0 -3px);
			}
		}
		&:hover {
			span {
				background-color: $hover;
			}
		}
	}
}
.index {
	.news {
		position: absolute;
		@include x-rem(bottom, 60px);
		left: 9.5%;
		width: 22%;
		@include x-rem(max-width, 335px);
		.news-item {
			data {
				font-family: $Book;
				@include x-rem(font-size, 19px);
				color: $grey;
				display: inline-block;
				margin-bottom: 15px;
				@include x-rem(margin, 0 0 15px 0);
			}
			.name {
				font-family: $Demi;
				@include x-rem(font-size, 19px);
				color: $grey;
				display: inline-block;
				margin-bottom: 30px;
				@include x-rem(margin, 0 0 30px 0);
				transition: color 0.3s ease;
				&:hover {
					color: $hover;
				}
			}
			span {
				font-family: $Book;
				@include x-rem(font-size, 19px);
				color: $grey;
				display: inline-block;
			}
		}
	}
}
.section {
	padding: 0 9.375%;
	position: relative;
}
.section__left {
	width: 45.725%;
	height: 100%;
	float: left;
	@include x-rem(padding-top, 120px);
}
.section__right {
	width: 54.275%;
	height: 100%;
	float: left;
	@include x-rem(padding-top, 120px);
	padding-left: 5%;
}
.head__section {
	margin-top: 13%;
	position: relative;
	.head {
		font-family: $Light;
		@include x-rem(font-size, 50px);
		color: $grey;
	}
	.head-categories {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		.head-categories__item {
			font-family: $Light;
			@include x-rem(font-size, 50px);
			color: $grey;
			position: absolute;
			top: 0;
			left: 0;
			display: none;
		}
	}
}
.business {
	margin-top: 13%;
	font-size: 0;
	.business-item {
		display: inline-block;
		width: 29%;
		vertical-align: top;
		margin-right: 4.33%;
		margin-bottom: 13.33%;
		position: relative;
		&::after {
			content: '';
			width: 85%;
			@include x-rem(height, 200px);
			background-color: $scroll;
			position: absolute;
			top: -10px;
			left: 0;
			z-index: -1;
			opacity: 0;
			transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
		}
		&:hover {
			&::after {
				transform: translate(15%);
				opacity: 1;
			}
			.head {
				color: $hover;
			}
		}
	}
	.head {
		font-family: $Bold;
		@include x-rem(font-size, 50px);
		color: $grey;
		transition: color .3s ease;
		line-height: 1;
		@include x-rem(margin, 0 0 15px 0);
	}
	p {
		font-family: $Book;
		@include x-rem(font-size, 19px);
		color: $lgrey;
	}
}