<!doctype html>
<html>
<head>
	<title>1-1about-history</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta content="initial-scale=1" name="viewport">
	
	<link rel="stylesheet" href="css/screen.css">
	
	<!--[if lt IE 9]>
		<script src="js/lib/html5shiv.min.js"></script>
	<![endif]-->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="js/common.js"></script>
</head>
<body>
<section class="viewport">
	<div class="menu">
		<button class="menu-btn">
			<span></span>
		</button>
	</div>
	<div class="viewport-left">
		<a href="" class="logo"></a>
		<div class="head">
			<h1>История компании</h1>
		</div>
		<div class="nav-inner">
			<a href="">Миссия</a>
			<a class="active" href="">История компании</a>
			<a href="">Наша команда</a>
			<a href="">Прессцентр</a>
		</div>
	</div>
	<div class="viewport-right">
		<div class="out">
			<header class="header">
				<div class="language">
					<a href="" class="language-item active">Рус</a>
					<a href="" class="language-item">Eng</a>
				</div>
				<nav class="nav">
					<a href="" class="nav-item">Решения</a>
					<a href="" class="nav-item">Отраслевая практика</a>
					<a href="" class="nav-item">Карьера</a>
				</nav>
			</header>
			<div class="wrapper">
				<ul class="breadcrumbs">
					<li><a href="">Главная</a></li>
				</ul>
				<div class="container">
					<p class="lead">Наша компания “Атлантконсалт”имеет богатую историю, которую можно проиллюстрировать с помощью важных для нас дат: </p>
					<div class="history__stages">
						<div class="history__stages-item history__stages-left">
							<div class="history__stages-name">
								<span>1998</span>
							</div>
							<div class="history__stages-text">
								Компания "Атлантконсалт" начинает&nbsp;свою&nbsp;историю.
							</div>
						</div>
						<div class="history__stages-item history__stages-right">
							<div class="history__stages-name">
								<span>1999</span>
							</div>
							<div class="history__stages-text">
								Первый проект, осуществлен на Международном автомобильном холдинге "Атлант-М".
							</div>
						</div>
						<div class="history__stages-item history__stages-left">
							<div class="history__stages-name">
								<span>2002</span>
							</div>
							<div class="history__stages-text">
								Cоздание сертифицированной службы поддержки SAP Hotline
							</div>
						</div>
						<div class="history__stages-item history__stages-right">
							<div class="history__stages-name">
								<span>2005</span>
							</div>
							<div class="history__stages-text">
								Cоздание отраслевого решения «SAP-Автоцентр»
							</div>
						</div>
						<div class="history__stages-item history__stages-left">
							<div class="history__stages-name">
								<span>2006</span>
							</div>
							<div class="history__stages-text">
								Cоздание отраслевых решений «SAP-Импортер» и «SAP-Дистрибуция».
							</div>
						</div>
						<div class="history__stages-item history__stages-right">
							<div class="history__stages-name">
								<span>2007</span>
							</div>
							<div class="history__stages-text">
								Cоздание отраслевого решения «SAP-Лизинг».
							</div>
						</div>
						<div class="history__stages-item history__stages-left">
							<div class="history__stages-name">
								<span>2008</span>
							</div>
							<div class="history__stages-text">
								Создание решения для страховых брокерских компаний. Выход компании на внешний рынок.
							</div>
						</div>
						<div class="history__stages-item history__stages-right">
							<div class="history__stages-name">
								<span>2009-2010</span>
							</div>
							<div class="history__stages-text">
								Поиск новых клиентов. Разработка и внедрение проектов в компаниях различных отраслей ("Армтек", "БелАЗ", "Санта-Импэкс")
							</div>
						</div>
						<div class="history__stages-item history__stages-left">
							<div class="history__stages-name">
								<span>2011</span>
							</div>
							<div class="history__stages-text">
								Компания прошла сертификацию ISO 9001:2008, тем самым подтвердив соответствие Системы Менеджмента Качества "Атлантконсалт" мировым требованиям. Также компания "Атлантконсалт" прошла аккредитацию Европейского банка реконструкции и развития по программе деловых консультационных услуг. Компания стала полноправным членом Белорусской торгово-промышленной палаты.
							</div>
						</div>
						<div class="history__stages-item history__stages-right">
							<div class="history__stages-name">
								<span>2012</span>
							</div>
							<div class="history__stages-text">
								Получен сертификат SAP PCOE (SAP Partner Center of Expertise), который подтверждает, что уровень и качество услуг по сопровождению, которые оказывает своим клиентам команда специалистов "Атлантконсалт", соответствует высоким требованиям и стандартам компании SAP AG.
							</div>
						</div>
						<div class="history__stages-item history__stages-left history__stages-none"></div>
						<div class="history__stages-item history__stages-right history__stages-last">
							<div class="history__stages-name">
								<span>2013</span>
							</div>
							<div class="history__stages-text">
								Вступление компании в Парк высоких технологий Республики Беларусь.  Компания "Атлантконсалт" получила статус Golden Partner Value Added Reseller.
							</div>
						</div>
					</div>
				</div>
				<div class="next__page">
					<div class="next__page-head">читайте Далее:</div>
					<a href="">История компании <i class="icon"></i></a>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="copyright">© АтлантКонсалт, 1999–2016</div>
			<div class="developer">Сделано во <a href="flxmd.by" target="_blank" rel="nofollow">FlexMedia</a></div>
			<div class="overlay">
				<button class="scroll-top" type="button">
					<span>Наверх</span>
				</button>
			</div>
		</footer>
	</div>		
	<div class="menu-overlay">
		<div class="menu-scroll">
			<div class="menu__left"></div>
			<div class="menu__right">
				<div class="language">
					<a href="" class="language-item active">Рус</a>
					<a href="" class="language-item">Eng</a>
				</div>
				<nav class="nav">
					<a href="" class="nav-item">Решения</a>
					<a href="" class="nav-item">Отраслевая практика</a>
					<a href="" class="nav-item">Карьера</a>
				</nav>
				<nav class="nav-main">
					<ul class="nav-main__overlay">
						<li class="nav-main_item">
							<a href="" class="active">Главная</a>
						</li>
						<li class="nav-main_item">
							<a href="">Компания</a>
							<ul>
								<li><a href="">История</a></li>
								<li><a href="">Команда</a></li>
								<li><a href="">Новости</a></li>
							</ul>
						</li>
						<li class="nav-main_item">
							<a href="">Клиенты</a>
						</li>
						<li class="nav-main_item">
							<a href="">Контакты</a>
						</li>
					</ul>
				</nav>
				<div class="social">
					<a href="" class="social-item fb">facebook</a>
					<a href="" class="social-item vk">vkontakte</a>
					<a href="" class="social-item tw">twitter</a>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>