<!doctype html>
<html>
<head>
	<title>1-4about-news-company-inner</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta content="initial-scale=1" name="viewport">
	
	<link rel="stylesheet" href="css/screen.css">
	
	<!--[if lt IE 9]>
		<script src="js/lib/html5shiv.min.js"></script>
	<![endif]-->
	
	<script src="js/common.js"></script>
</head>
<body>
<section class="viewport">
	<div class="menu">
		<button class="menu-btn">
			<span></span>
		</button>
	</div>
	<div class="viewport-left">
		<a href="" class="logo"></a>
		<div class="head">
			<h1>Свежие новости</h1>
		</div>
		<div class="nav-inner">
			<a href="">Миссия</a>
			<a href="">История компании</a>
			<a href="">Наша команда</a>
			<a class="active" href="">Прессцентр</a>
		</div>
	</div>
	<div class="viewport-right">
		<div class="out">
			<header class="header">
				<div class="language">
					<a href="" class="language-item active">Рус</a>
					<a href="" class="language-item">Eng</a>
				</div>
				<nav class="nav">
					<a href="" class="nav-item">Решения</a>
					<a href="" class="nav-item">Отраслевая практика</a>
					<a href="" class="nav-item">Карьера</a>
				</nav>
			</header>
			<div class="wrapper">
				<ul class="breadcrumbs">
					<li><a href="">Главная</a></li>
					<li><a href="">новости компании</a></li>
				</ul>
				<div class="container news__inner">
					<div class="h1">АтлантКонсалт & iQ-SOLUTIONS</div>
					<p class="lead">11 апреля компанию АтлантКонсалт посетила казахстанская компания iQ-SOLUTIONS, с целью установления сотрудничества и международных партнерских отношений между компаниями.</p>
					<p>В ходе визита состоялась встреча руководителей АтлантКонсалт с Меруерт Нурмаганбетовой, заместителем директора филиала г.Астана по производству и Гульмирой Турубаевой, заместителем директора филиала г.Астана по новым проектам. В результате встречи были достигнуты договоренности о дальнейшем взаимовыгодном сотрудничестве.</p>
					<div class="double double-img">
						<div class="double__item">
							<img src="img/other/img-1.jpg" alt="">
						</div>
						<div class="double__item">
							<p>Финансовые директора и корпоративные казначеи продолжают работать в сложных условиях "новой реальности", как сейчас принято называть экономи-ческие кризисы: нестабильность и рост курса рубля к основным валютам, ограничения финансирования и увеличение стоимости привлекаемых ресурсов, неопределенность в оценке валютных рисков, поиск резервов и необходимой ликвидности.</p>
						</div>
					</div>
					<div class="quote">
						<p>В результате встречи были достигнуты договоренности о&nbsp;дальнейшем взаимовыгодном сотрудничестве.</p>
					</div>
					<div class="counter__list">
						<div class="counter__list-item">
							<div class="counter__list-number">17</div>
							<p>Лет беспрерывной и&nbsp;кропотливой работы</p>
						</div>
						<div class="counter__list-item">
							<div class="counter__list-number">65</div>
							<p>Успешных клиентов за&nbsp;последние 7 лет работы</p>
						</div>
						<div class="counter__list-item">
							<div class="counter__list-number">150</div>
							<p>Тщательно созданных готовых комплексных решений</p>
						</div>
						<div class="counter__list-item">
							<div class="counter__list-number">8</div>
							<p>Инновационных отраслей для эффективных бизнес-процессов</p>
						</div>
					</div>
					<div class="link__back">
						<a href=""><i></i>Назад к списку новостей</a>
					</div>
					<div class="double double-25">
						<div class="double__item">
							<div class="title">Другие новости:</div>
						</div>
						<div class="double__item">
							<div class="news__more">
								<div class="news-item">
									<a href="">
										<div class="news-img">
											<img src="img/news/news-5.jpg" alt="">
										</div>
										<data>8 апреля 2016</data>
										<div class="news-name">Круглый стол корпоративных казначеев СНГ</div>
										<span>21-22 апреля в Минске пройдет мероприятие для финансового сообщества «Круглый стол...</span>
									</a>
								</div>
								<div class="news-item">
									<a href="">
										<div class="news-img">
											<img src="img/news/news-6.jpg" alt="">
										</div>
										<data>12 апреля 2016</data>
										<div class="news-name">АтлантКонсалт & iQ-SOLUTIONS</div>
										<span>Сотрудничество компаний Беларуси и Казахстана</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="next__page">
					<div class="next__page-head">читайте Далее:</div>
					<a href="">Наши решения <i class="icon"></i></a>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="copyright">© АтлантКонсалт, 1999–2016</div>
			<div class="developer">Сделано во <a href="flxmd.by" target="_blank" rel="nofollow">FlexMedia</a></div>
			<div class="overlay">
				<button class="scroll-top" type="button">
					<span>Наверх</span>
				</button>
			</div>
		</footer>
	</div>		
	<div class="menu-overlay">
		<div class="menu-scroll">
			<div class="menu__left"></div>
			<div class="menu__right">
				<div class="language">
					<a href="" class="language-item active">Рус</a>
					<a href="" class="language-item">Eng</a>
				</div>
				<nav class="nav">
					<a href="" class="nav-item">Решения</a>
					<a href="" class="nav-item">Отраслевая практика</a>
					<a href="" class="nav-item">Карьера</a>
				</nav>
				<nav class="nav-main">
					<ul class="nav-main__overlay">
						<li class="nav-main_item">
							<a href="" class="active">Главная</a>
						</li>
						<li class="nav-main_item">
							<a href="">Компания</a>
							<ul>
								<li><a href="">История</a></li>
								<li><a href="">Команда</a></li>
								<li><a href="">Новости</a></li>
							</ul>
						</li>
						<li class="nav-main_item">
							<a href="">Клиенты</a>
						</li>
						<li class="nav-main_item">
							<a href="">Контакты</a>
						</li>
					</ul>
				</nav>
				<div class="social">
					<a href="" class="social-item fb">facebook</a>
					<a href="" class="social-item vk">vkontakte</a>
					<a href="" class="social-item tw">twitter</a>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>