<!doctype html>
<html>
<head>
	<title>2-0reshenia</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta content="initial-scale=1" name="viewport">
	
	<link rel="stylesheet" href="css/screen.css">
	
	<!--[if lt IE 9]>
		<script src="js/lib/html5shiv.min.js"></script>
	<![endif]-->
	
	<script src="js/common.js"></script>
</head>
<body>
<section class="viewport">
	<div class="menu">
		<button class="menu-btn">
			<span></span>
		</button>
	</div>
	<div class="viewport-left">
		<a href="" class="logo"></a>
		<div class="head">
			<h1>Решения для бизнеса</h1>
		</div>
		<div class="nav-inner">
			<a href="">Управление персоналом</a>
			<a href="">Управление взаимодейст&shy;вием с клиентами</a>
			<a href="">Бизнес-аналитика и&nbsp;бюджетирование</a>
			<a href="">Управленческий учет и&nbsp;финансовый менеджмент</a>
			<a href="">Управление ресурсами предприятия </a>
		</div>
	</div>
	<div class="viewport-right">
		<div class="out">
			<header class="header">
				<div class="language">
					<a href="" class="language-item active">Рус</a>
					<a href="" class="language-item">Eng</a>
				</div>
				<nav class="nav">
					<a href="" class="nav-item">Решения</a>
					<a href="" class="nav-item">Отраслевая практика</a>
					<a href="" class="nav-item">Карьера</a>
				</nav>
			</header>
			<div class="wrapper">
				<ul class="breadcrumbs">
					<li><a href="">Главная</a></li>
					<li><a href="">новости компании</a></li>
				</ul>
				<div class="container solution">
					<p class="lead">"Атлантконсалт" работает с продуктами компании SAP AG вот уже более 14 лет. За это время мы показали себя надежным партнером для Международного автомобильного холдинга "Атлант-М".</p>
					<div class="double double-text">
						<p>С 2008 года услуги нашей компании доступны не только Холдингу "Атлант-М", но и другим бело- русским  компаниям, а также компаниям ближ&shy;него зарубежья.  Мы завоевали доверие наших клиентов, и они дают нам отличные рекоменда&shy;ции. Персональный подход и умение довести ра&shy;боту до конца - вот основные принципы нашей работы.</p>
						<p>Ключевая особенность работы нашей команды- это максимально тесное взаимодействие и под&shy;держка клиента на всех этапах автоматизации бизнеса. Вы всегда сможете получить ответы на все вопросы, появляющиеся в процессе нашей совместной работы. Наши консультанты всегда доступны для клиента.</p>
					</div>
					<div class="quote">
						<p>Главная задача нашей команды - это помощь вам в выборе верного продукта, поиск наиболее оптимального пути его внедрения, и&nbsp;получение нужного результата.</p>
					</div>
					<div class="business business-inner">
						<a href="" class="business-item">
							<div class="head">BI</div>
							<p>Бизнес-аналитика и&nbsp;бюджетирование</p>
						</a>
						<a href="" class="business-item">
							<div class="head">CRM</div>
							<p>Управление взаимодействием с&nbsp;клиентами</p>
						</a>
						<a href="" class="business-item">
							<div class="head">FI</div>
							<p>Управленческий учёт&nbsp;и&nbsp;финансовый менеджмент</p>
						</a>
						<a href="" class="business-item">
							<div class="head">HR</div>
							<p>Управление персоналом</p>
						</a>
						<a href="" class="business-item">
							<div class="head">ERP</div>
							<p>Управление ресурсами предприятия</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="copyright">© АтлантКонсалт, 1999–2016</div>
			<div class="developer">Сделано во <a href="flxmd.by" target="_blank" rel="nofollow">FlexMedia</a></div>
			<div class="overlay">
				<button class="scroll-top" type="button">
					<span>Наверх</span>
				</button>
			</div>
		</footer>
	</div>		
	<div class="menu-overlay">
		<div class="menu-scroll">
			<div class="menu__left"></div>
			<div class="menu__right">
				<div class="language">
					<a href="" class="language-item active">Рус</a>
					<a href="" class="language-item">Eng</a>
				</div>
				<nav class="nav">
					<a href="" class="nav-item">Решения</a>
					<a href="" class="nav-item">Отраслевая практика</a>
					<a href="" class="nav-item">Карьера</a>
				</nav>
				<nav class="nav-main">
					<ul class="nav-main__overlay">
						<li class="nav-main_item">
							<a href="" class="active">Главная</a>
						</li>
						<li class="nav-main_item">
							<a href="">Компания</a>
							<ul>
								<li><a href="">История</a></li>
								<li><a href="">Команда</a></li>
								<li><a href="">Новости</a></li>
							</ul>
						</li>
						<li class="nav-main_item">
							<a href="">Клиенты</a>
						</li>
						<li class="nav-main_item">
							<a href="">Контакты</a>
						</li>
					</ul>
				</nav>
				<div class="social">
					<a href="" class="social-item fb">facebook</a>
					<a href="" class="social-item vk">vkontakte</a>
					<a href="" class="social-item tw">twitter</a>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>