<!doctype html>
<html>
<head>
	<title>4-1careers-inner</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta content="initial-scale=1" name="viewport">
	
	<link rel="stylesheet" href="css/screen.css">
	
	<!--[if lt IE 9]>
		<script src="js/lib/html5shiv.min.js"></script>
	<![endif]-->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="js/common.js"></script>
</head>
<body>
<section class="viewport">
	<div class="menu">
		<button class="menu-btn">
			<span></span>
		</button>
	</div>
	<div class="viewport-left">
		<a href="" class="logo"></a>
		<div class="head">
			<h1>Карьера в&nbsp;компании</h1>
		</div>
		<div class="nav-inner">
			<a class="active" href="">Вакансии</a>
			<a href="">Истории успеха</a>
			<a href="">Тестируйся</a>
			<a href="">Студентам</a>
		</div>
	</div>
	<div class="viewport-right">
		<div class="out">
			<header class="header">
				<div class="language">
					<a href="" class="language-item active">Рус</a>
					<a href="" class="language-item">Eng</a>
				</div>
				<nav class="nav">
					<a href="" class="nav-item">Решения</a>
					<a href="" class="nav-item">Отраслевая практика</a>
					<a href="" class="nav-item">Карьера</a>
				</nav>
			</header>
			<div class="wrapper">
				<ul class="breadcrumbs">
					<li><a href="">Главная</a></li>
					<li><a href="">вакансии</a></li>
				</ul>
				<div class="container">
					<div class="h1">Консультант SAP FI</div>
					<p class="lead">Что такое успешная карьера? Когда работа это не просто график и рутина, но еще и удовольствие, возможность карьерного роста и материальная выгода. На этой странице мы покажем вам замечательные примеры людей получивших прекрасные возможности проявить.</p>
					<div class="double">
						<div class="double__item">
							<div class="title">Требования:</div>
						</div>
						<div class="double__item">
							<ul class="point">
								<li>студент 3-5 курса с техническим образованием (БГУ(ФПМ, МехМат), БГУИР (ФИТУ, КСИС));</li>
								<li>средний балл выше 7;</li>
								<li>знание английского языка приветствуется;</li>
								<li>знания программирования баз данных, общительность, способность быстро обучаться;</li>
								<li>готовность к командировкам (в перспективе);</li>
								<li>участие в олимпиадах приветствуется;</li>
								<li>дополнительные знания в области финансов приветствуются.</li>
							</ul>
						</div>
					</div>
					<div class="double">
						<div class="double__item">
							<div class="title">Условия:</div>
						</div>
						<div class="double__item">
							<ul class="point">
								<li>обучение: техническое и бизнес (внутреннее обучение);</li>
								<li>возможна сертификация;</li>
								<li>молодой коллектив (средний возраст 25-28);</li>
								<li>быстрый ввод сотрудников в проектную деятельность; уважительное отношение к сотрудникам.</li>
							</ul>
						</div>
					</div>
					<div class="double double-summary">
						<div class="double__item">
							<p><strong>Если вас заинтересовала данная вакансия, вы можете заполнить нашу анкету или прикрепить свое резюме:</strong></p>
							<a href="" class="btn">
								<span>Заполнить анкету</span>
							</a>
						</div>
						<div class="double__item">
							<div class="managers">
								<p><strong>По всем возникающим вопросам обращайтесь к нашему контактному лицу:</strong></p>
								<div class="managers-item">
									<div class="name">Татукевич Надежда</div>
									<span class="phone">+375 25 758 61 68</span>
									<span class="mail">Nadezhda_Tatukevich@atlantconsult.com</span>
									<span class="skype">Skype: keyasavickaia</span>
								</div>
							</div>
						</div>
					</div>
					<div class="link__back">
						<a href=""><i></i>Назад к списку вакансий</a>
					</div>
				</div>
				<div class="next__page">
					<div class="next__page-head">читайте Далее:</div>
					<a href="">КОНСУЛЬТАНТ SAP <i class="icon"></i></a>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="copyright">© АтлантКонсалт, 1999–2016</div>
			<div class="developer">Сделано во <a href="flxmd.by" target="_blank" rel="nofollow">FlexMedia</a></div>
			<div class="overlay">
				<button class="scroll-top" type="button">
					<span>Наверх</span>
				</button>
			</div>
		</footer>
	</div>		
	<div class="menu-overlay">
		<div class="menu-scroll">
			<div class="menu__left"></div>
			<div class="menu__right">
				<div class="language">
					<a href="" class="language-item active">Рус</a>
					<a href="" class="language-item">Eng</a>
				</div>
				<nav class="nav">
					<a href="" class="nav-item">Решения</a>
					<a href="" class="nav-item">Отраслевая практика</a>
					<a href="" class="nav-item">Карьера</a>
				</nav>
				<nav class="nav-main">
					<ul class="nav-main__overlay">
						<li class="nav-main_item">
							<a href="" class="active">Главная</a>
						</li>
						<li class="nav-main_item">
							<a href="">Компания</a>
							<ul>
								<li><a href="">История</a></li>
								<li><a href="">Команда</a></li>
								<li><a href="">Новости</a></li>
							</ul>
						</li>
						<li class="nav-main_item">
							<a href="">Клиенты</a>
						</li>
						<li class="nav-main_item">
							<a href="">Контакты</a>
						</li>
					</ul>
				</nav>
				<div class="social">
					<a href="" class="social-item fb">facebook</a>
					<a href="" class="social-item vk">vkontakte</a>
					<a href="" class="social-item tw">twitter</a>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="popup__wrap summary">
	<div class="popup__layer"></div>
	<div class="popup">
		<div class="popup-title">прикрепить свое&nbsp;резюме</div>
		 <div class="form">
			<form action="">
				<div class="field">
					<div id="mydropzone1" class="dropzone" action="fileupload.php">
						<div class="upload__block">
							<div class="upload__preview">
								<div class="upload__text">
									<div class="drop__title"><span>Прикрепить резюме</span> до 5 Мб</div>
									<img data-dz-thumbnail />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="field">
					<button class="btn" type="submit"><span>Отправить</span></button>
				</div>
			</form>
		</div>
		<button class="close"><i></i></button>
	</div>
</div>
<div class="popup__wrap callback">
	<div class="popup__layer"></div>
	<div class="popup">
		<div class="front active">
			<div class="popup-title">Обратная связь</div>
			 <div class="form">
				<form action="" class="js-validate">
					<div class="field">
						<div class="field__body">
							<input type="text" placeholder="Имя*" data-validation="length" data-validation-length="2-19">
						</div>
					</div>
					<div class="field">
						<div class="field__body">
							<input type="text" placeholder="E-mail*" data-validation="email">
						</div>
					</div>
					<div class="field">
						<div class="field__body">
							<input type="text" placeholder="Телефон*" data-validation="length" data-validation-length="4-19">
						</div>
					</div>
					<div class="field">
						<div class="field__body">
							<textarea name="" id="" cols="30" rows="10" placeholder="Сообщение*" data-validation="length" data-validation-length="min2"></textarea>
						</div>
					</div>
					<div class="field">
						<button class="btn" type="submit"><span>Отправить</span></button>
					</div>
				</form>
			</div>
		</div>
		<div class="back">
			<div class="popup-title">Благодарим вас!</div>
			<div class="form">
				<div class="field">
					<p>Ваше сообщение успешно отправлено! Мы свяжемся с вами в самое ближайшее время!</p>
				</div>
				<div class="field">
					<button class="btn btn__success">
						<span>Закрыть</span>
					</button>
				</div>
			</div>
		</div>
		<button class="close"><i></i></button>
	</div>
</div>
</body>
</html>