<!doctype html>
<html>
<head>
	<title>4-3careers</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta content="initial-scale=1" name="viewport">
	
	<link rel="stylesheet" href="css/screen.css">
	
	<!--[if lt IE 9]>
		<script src="js/lib/html5shiv.min.js"></script>
	<![endif]-->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="js/common.js"></script>
</head>
<body>
<section class="viewport">
	<div class="menu">
		<button class="menu-btn">
			<span></span>
		</button>
	</div>
	<div class="viewport-left">
		<a href="" class="logo"></a>
		<div class="head">
			<h1>Истории успеха</h1>
		</div>
		<div class="nav-inner">
			<a href="">Вакансии</a>
			<a class="active" href="">Истории успеха</a>
			<a href="">Тестируйся</a>
			<a href="">Студентам</a>
		</div>
	</div>
	<div class="viewport-right">
		<div class="out">
			<header class="header">
				<div class="language">
					<a href="" class="language-item active">Рус</a>
					<a href="" class="language-item">Eng</a>
				</div>
				<nav class="nav">
					<a href="" class="nav-item">Решения</a>
					<a href="" class="nav-item">Отраслевая практика</a>
					<a href="" class="nav-item">Карьера</a>
				</nav>
			</header>
			<div class="wrapper">
				<ul class="breadcrumbs">
					<li><a href="">Главная</a></li>
				</ul>
				<div class="container">
					<p class="lead">Что такое успешная карьера? Когда работа это не просто график и рутина, но еще и удовольствие, возможность карьерного роста и материальная выгода. На этой странице мы покажем вам замечательные примеры людей получивших прекрасные возможности проявить себя.</p>
					<div class="employee employee-history">
						<div class="employee__list">
							<div class="employee__list-item employee__list-text">
								<div class="title">Интервью с нашими сотрудниками</div>
								<p>Маленькие истории о больших достижениях и сбывшихся надеждах.</p>
							</div>
							<a href="" class="employee__list-item">
								<div class="employee__img">
									<img src="img/employee/employee-2.jpg" alt="">
								</div>
								<div class="employee__name">Владимир Романов</div>
								<p>Руководитель лаборатории CRM</p>
							</a>
							<a href="" class="employee__list-item">
								<div class="employee__img">
									<img src="img/employee/employee-3.jpg" alt="">
								</div>
								<div class="employee__name">Константин Амельченко</div>
								<p>Руководитель лаборатории CRM</p>
							</a>
							<a href="" class="employee__list-item">
								<div class="employee__img">
									<img src="img/employee/employee-4.jpg" alt="">
								</div>
								<div class="employee__name">Александр Шугар</div>
								<p>Руководитель лаборатории CRM</p>
							</a>
							<a href="" class="employee__list-item">
								<div class="employee__img">
									<img src="img/employee/employee-5.jpg" alt="">
								</div>
								<div class="employee__name">Александр Дрозд</div>
								<p>Руководитель лаборатории CRM</p>
							</a>
							<a href="" class="employee__list-item">
								<div class="employee__img">
									<img src="img/employee/employee-6.jpg" alt="">
								</div>
								<div class="employee__name">Михаил Жук</div>
								<p>Руководитель лаборатории CRM</p>
							</a>
							<a href="" class="employee__list-item">
								<div class="employee__img">
									<img src="img/employee/employee-7.jpg" alt="">
								</div>
								<div class="employee__name">Антон Павлов</div>
								<p>Руководитель лаборатории CRM</p>
							</a>
						</div>
					</div>
				</div>
				<div class="next__page">
					<div class="next__page-head">читайте Далее:</div>
					<a href="">Тестируйся <i class="icon"></i></a>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="copyright">© АтлантКонсалт, 1999–2016</div>
			<div class="developer">Сделано во <a href="flxmd.by" target="_blank" rel="nofollow">FlexMedia</a></div>
			<div class="overlay">
				<button class="scroll-top" type="button">
					<span>Наверх</span>
				</button>
			</div>
		</footer>
	</div>		
	<div class="menu-overlay">
		<div class="menu-scroll">
			<div class="menu__left"></div>
			<div class="menu__right">
				<div class="language">
					<a href="" class="language-item active">Рус</a>
					<a href="" class="language-item">Eng</a>
				</div>
				<nav class="nav">
					<a href="" class="nav-item">Решения</a>
					<a href="" class="nav-item">Отраслевая практика</a>
					<a href="" class="nav-item">Карьера</a>
				</nav>
				<nav class="nav-main">
					<ul class="nav-main__overlay">
						<li class="nav-main_item">
							<a href="" class="active">Главная</a>
						</li>
						<li class="nav-main_item">
							<a href="">Компания</a>
							<ul>
								<li><a href="">История</a></li>
								<li><a href="">Команда</a></li>
								<li><a href="">Новости</a></li>
							</ul>
						</li>
						<li class="nav-main_item">
							<a href="">Клиенты</a>
						</li>
						<li class="nav-main_item">
							<a href="">Контакты</a>
						</li>
					</ul>
				</nav>
				<div class="social">
					<a href="" class="social-item fb">facebook</a>
					<a href="" class="social-item vk">vkontakte</a>
					<a href="" class="social-item tw">twitter</a>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="popup__wrap summary">
	<div class="popup__layer"></div>
	<div class="popup">
		<div class="popup-title">прикрепить свое&nbsp;резюме</div>
		 <div class="form">
			<form action="">
				<div class="field">
					<div id="mydropzone1" class="dropzone" action="fileupload.php">
						<div class="upload__block">
							<div class="upload__preview">
								<div class="upload__text">
									<div class="drop__title"><span>Прикрепить резюме</span> до 5 Мб</div>
									<img data-dz-thumbnail />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="field">
					<button class="btn" type="submit"><span>Отправить</span></button>
				</div>
			</form>
		</div>
		<button class="close"><i></i></button>
	</div>
</div>
<div class="popup__wrap callback">
	<div class="popup__layer"></div>
	<div class="popup">
		<div class="popup-title">Обратная связь</div>
		 <div class="form">
			<form action="">
				<div class="field">
					<div class="field__body">
						<input type="text" placeholder="Имя*">
					</div>
				</div>
				<div class="field">
					<div class="field__body">
						<input type="text" placeholder="E-mail*">
					</div>
				</div>
				<div class="field">
					<div class="field__body">
						<input type="text" placeholder="Телефон*">
					</div>
				</div>
				<div class="field">
					<div class="field__body">
						<textarea name="" id="" cols="30" rows="10" placeholder="Сообщение*"></textarea>
					</div>
				</div>
				<div class="field">
					<button class="btn" type="submit"><span>Отправить</span></button>
				</div>
			</form>
		</div>
		<button class="close"><i></i></button>
	</div>
</div>
</body>
</html>