<!doctype html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta content="initial-scale=1" name="viewport">
	
	<link rel="stylesheet" href="css/screen.css">
	
	<!--[if lt IE 9]>
		<script src="js/lib/html5shiv.min.js"></script>
	<![endif]-->
	
	<script src="js/common.js"></script>
</head>
<body class="index">
<section class="viewport">
	<div class="menu">
		<span class="menu-left">Меню</span>
		<button class="menu-btn">
			<span></span>
		</button>
	</div>
	<div class="canvas__area"></div>
	<div class="out">
		<header class="header">
			<div class="header__left">
				<a href="/" class="logo"></a>
				<div class="language">
					<a href="" class="language-item active">Рус</a>
					<a href="" class="language-item">Eng</a>
				</div>
			</div>
			<div class="header__right">
				<nav class="nav">
					<a href="" class="nav-item">Решения</a>
					<a href="" class="nav-item">Отраслевая практика</a>
					<a href="" class="nav-item">Карьера</a>
				</nav>
			</div>				
		</header>
		<div class="fullpage">
			<div class="section">
				<div class="section__left">
					<div class="head__section">
						<div class="head">Решения, позволяющие повысить эффективность вашего бизнеса</div>
						<div class="head-categories">
							<div class="head-categories__item">Бизнес-аналитика и бюджетирование</div>
							<div class="head-categories__item">Управление взаимодействием с клиентами</div>
							<div class="head-categories__item">Управленческий учёт и финансовый менеджмент</div>
							<div class="head-categories__item">Управление персоналом</div>
							<div class="head-categories__item">Управление ресурсами предприятия</div>
						</div>
					</div>
				</div>
				<div class="section__right">
					<div class="business">
						<a href="" class="business-item">
							<div class="head">BI</div>
							<p>Бизнес-аналитика и&nbsp;бюджетирование</p>
						</a>
						<a href="" class="business-item">
							<div class="head">CRM</div>
							<p>Управление взаимодействием с&nbsp;клиентами</p>
						</a>
						<a href="" class="business-item">
							<div class="head">FI</div>
							<p>Управленческий учёт&nbsp;и&nbsp;финансовый менеджмент</p>
						</a>
						<a href="" class="business-item">
							<div class="head">HR</div>
							<p>Управление персоналом</p>
						</a>
						<a href="" class="business-item">
							<div class="head">ERP</div>
							<p>Управление ресурсами предприятия</p>
						</a>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="section__left">
					<div class="head__section">
						<div class="head">Наши клиенты одни из&nbsp;самых успешных компаний Беларуси</div>
					</div>
				</div>
				<div class="section__right">
					<div class="clients">
						<a href="" class="clients-item">
							<div class="head">
								<img src="img/clients/mtb.png" alt="">
							</div>
						</a>
						<a href="" class="clients-item">
							<div class="head">
								<img src="img/clients/belwest.png" alt="">
							</div>
						</a>
						<a href="" class="clients-item">
							<div class="head">
								<img src="img/clients/univest.png" alt="">
							</div>
						</a>
						<a href="" class="clients-item">
							<div class="head">
								<img src="img/clients/belaz.png" alt="">
							</div>
						</a>
						<a href="" class="clients-item">
							<div class="head">
								<img src="img/clients/sosedi.png" alt="">
							</div>
						</a>
						<a href="" class="clients-item">
							<div class="head">
								<img src="img/clients/bremor.png" alt="">
							</div>
						</a>
						<a href="" class="clients-item">
							<div class="head">
								<img src="img/clients/univest.png" alt="">
							</div>
						</a>
						<a href="" class="clients-item">
							<div class="head">
								<img src="img/clients/mtb.png" alt="">
							</div>
						</a>
						<a href="" class="clients-item">
							<div class="head">
								<img src="img/clients/belwest.png" alt="">
							</div>
						</a>
					</div>
					<a href="#" class="btn">
						<span>Все клиенты</span>
					</a>
				</div>
			</div>
			<div class="section">
				<div class="section__left">
					<div class="head__section">
						<div class="head">Отраслевые решения для&nbsp;четкого представления состояния своего бизнеса</div>
					</div>
				</div>
				<div class="section__right">
					<div class="solutions">
						<div class="solutions-item">
							<div class="head">
								<img src="img/icons/icon-1.png" alt="">
							</div>
							<div class="solutions-title">Розничная торговля</div>
						</div>
						<div class="solutions-item">
							<div class="head">
								<img src="img/icons/icon-2.png" alt="">
							</div>
							<div class="solutions-title">Автомобиле&shy;строение</div>
						</div>
						<div class="solutions-item">
							<div class="head">
								<img src="img/icons/icon-3.png" alt="">
							</div>
							<div class="solutions-title">Финансовые институты</div>
						</div>
						<div class="solutions-item">
							<div class="head">
								<img src="img/icons/icon-4.png" alt="">
							</div>
							<div class="solutions-title">Дистрибуция</div>
						</div>
						<div class="solutions-item">
							<div class="head">
								<img src="img/icons/icon-5.png" alt="">
							</div>
							<div class="solutions-title">Производство товаров массового потребления</div>
						</div>
						<div class="solutions-item">
							<div class="head">
								<img src="img/icons/icon-6.png" alt="">
							</div>
							<div class="solutions-title">Транспорт и логистика</div>
						</div>
						<div class="solutions-item">
							<div class="head">
								<img src="img/icons/icon-7.png" alt="">
							</div>
							<div class="solutions-title">Инвестиционно&nbsp;- строительная деятельность</div>
						</div>
						<div class="solutions-item">
							<div class="head">
								<img src="img/icons/icon-8.png" alt="">
							</div>
							<div class="solutions-title">Производство и&nbsp;промышленность</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="section__left">
					<div class="head__section">
						<div class="head">Постройте свою долгосрочную карьеру</div>
					</div>
				</div>
				<div class="section__right">
					<div class="career">
						<div class="career-left">
							<div class="career-title">
								<span>Работа в АтлантКонсалт – отличный способ построить карьеру.</span>
							</div>
							<p>Хотите работать у нас? Для этого вам необходимо заполнить анкету на нашем сайти. Заполненная вами анкета в обяза&shy;тельном порядке попадают в единую базу кандидатов.</p>
							<a href="#" class="btn">
								<span>перейти в вакансии</span>
							</a>
						</div>
						<div class="career-right">
							<div class="career-title">
								<div class="career-img">
									<img src="img/icons/icon-9.png" alt="">
								</div>
								<span>Проверьте свой уровень.</span>
							</div>
							<p>У нас вы можете пройти тестирование соответст&shy;вующее каждому решению представленному нашей компанией.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll">
			<div class="icon">
				<div></div>
			</div>
		</div>
		<footer class="footer">
			<div class="copyright">© АтлантКонсалт, 1999–2016</div>
			<div class="developer">Сделано во <a href="flxmd.by" target="_blank" rel="nofollow">FlexMedia</a></div>
			<div class="overlay">
				<button class="scroll-top" type="button">
					<span>Наверх</span>
				</button>
			</div>
		</footer>
		<div class="news">
			<div class="news-item">
				<data>25 апреля 2016</data>
				<a href="" class="name">АтлантКонсалт на XII Международном форуме по банковским информационным технологиям</a>
				<span>Прессцентр</span>
			</div>
		</div>
	</div>
	<div class="menu-overlay">
		<div class="menu-scroll">
			<div class="menu__left"></div>
			<div class="menu__right">
				<div class="language">
					<a href="" class="language-item active">Рус</a>
					<a href="" class="language-item">Eng</a>
				</div>
				<nav class="nav">
					<a href="" class="nav-item">Решения</a>
					<a href="" class="nav-item">Отраслевая практика</a>
					<a href="" class="nav-item">Карьера</a>
				</nav>
				<nav class="nav-main">
					<ul class="nav-main__overlay">
						<li class="nav-main_item">
							<a href="" class="active">Главная</a>
						</li>
						<li class="nav-main_item">
							<a href="">Компания</a>
							<ul>
								<li><a href="">История</a></li>
								<li><a href="">Команда</a></li>
								<li><a href="">Новости</a></li>
							</ul>
						</li>
						<li class="nav-main_item">
							<a href="">Клиенты</a>
						</li>
						<li class="nav-main_item">
							<a href="">Контакты</a>
						</li>
					</ul>
				</nav>
				<div class="social">
					<a href="" class="social-item fb">facebook</a>
					<a href="" class="social-item vk">vkontakte</a>
					<a href="" class="social-item tw">twitter</a>
				</div>
			</div>
		</div>
	</div>
</section>

</body>
</html>