<!doctype html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="css/screen.css">
	
	<!--[if lt IE 9]>
		<script src="js/lib/html5shiv.min.js"></script>
	<![endif]-->
	
	<script src="js/common.js"></script>
</head>
<body class="index">
<section class="viewport">
	<div class="menu">
		<span class="menu-left">Меню</span>
		<button class="menu-btn">
			<span></span>
		</button>
	</div>
	<header class="header">
		<a href="/" class="logo"></a>
	</header>
	<div class="canvas__area"></div>
	<div class="out">
		<div class="fullpage">
			<div class="section">1</div>
			<div class="section">2</div>
			<div class="section">3</div>
			<div class="section">4</div>
		</div>
	</div>
</section>

</body>
</html>